*~
**/*~
**/*.aux
**/*.bbl
**/*.log
**/*.blg
**/*.bcf
**/*.toc
**/*.lot
**/*.lof
**/*.run.xml
**/*.out
**/*nav
**/*snm
**/*vrb
**/.DS_Store
.Rproj.user
.Rhistory
**/.DS_Store
.DS_Store
# ensure we don't accidentally store CURF data
data/curf
data/ids_82.rda
data/ids_86.rda
data/ids_97.rda
data/onet
.RData
doc/_region_.tex
